<form [formGroup]="createProductsForm" (ngSubmit)="onCreateProducts()">
  <table id="scrollStyle" formArrayName="products" class="table table-hover table-bordered table-responsive">
    <thead>
      <tr class="table-warning">
        <th scope="col"></th>
        <th scope="col">SKU</th>
        <th scope="col">Title</th>
        <th scope="col">Quantity</th>
        <th scope="col">Alert Quantity</th>
        <th scope="col">Description</th>
        <th scope="col">Price</th>
        <th scope="col">Category</th>
        <th scope="col">Variation Group</th>
        <th scope="col">UPC</th>
        <th scope="col">Barcode</th>
        <th scope="col">Images</th>
        <th scope="col">Condition</th>
        <th scope="col">Location</th>
        <th scope="col">Weight</th>
        <th scope="col">Height</th>
        <th scope="col">Width</th>
        <th scope="col">Depth</th>
        <th scope="col">Bin Location</th>
        <th scope="col">Monitor</th>
        <th scope="col" *ngIf="createProductsForm.controls.products.controls.length > 1"></th>
      </tr>
    </thead>
    <tbody *ngFor="let product of createProductsForm.controls.products.controls; let i=index;">
        <tr [formGroupName]="i">
          <td class="align-middle">{{i + 1}}</td>
          <td>
            <input
              type="text"
              formControlName="sku"
              class="form-control-sm">
          </td>
          <td>
            <input
              type="text"
              formControlName="title"
              class="form-control-sm">
          </td>
          <td formGroupName="quantity">
            <input
              type="text"
              formControlName="quantity"
              class="form-control-sm">
          </td>
          <td formGroupName="quantity">
            <input
              type="text"
              formControlName="alertQuantity"
              class="form-control-sm">
            <input
              type="hidden"
              formControlName="pendingOrders">
            <input
              type="hidden"
              formControlName="neededQuantity">
          </td>
          <td>
            <app-description-modal
              (modalOpened)="onDescriptionModalOpened(i, $event)"
              (modalClosed)="onDescriptionModalClosed(i, $event)"
              [descriptionGroup]="createProductsForm.controls.products.controls[i]"></app-description-modal>
          </td>
          <td formGroupName="price">
            <input
              type="text"
              formControlName="purchasePrice"
              class="form-control-sm">
            <input
              type="hidden"
              formControlName="stockValue"
              class="form-control-sm">
          </td>
          <td>
            <input
              type="text"
              formControlName="category"
              class="form-control-sm">
          </td>
          <td>
            <input
              type="text"
              formControlName="variationGroup"
              class="form-control-sm">
          </td>
          <td>
            <input
              type="text"
              formControlName="upc"
              class="form-control-sm">
          </td>
          <td>
            <input
              type="text"
              formControlName="barcode"
              class="form-control-sm">
          </td>
          <td>
            <input
              type="text"
              formControlName="images"
              class="form-control-sm">
          </td>
          <td>
            <input
              type="text"
              formControlName="condition"
              class="form-control-sm">
          </td>
          <td class="align-middle" *ngIf="user">
            <select class="form-control-sm" formControlName="location">
              <option *ngFor="let address of user.addresses" [ngValue]="address">{{ address.fullAddress }}</option>
            </select>
          </td>
          <td formGroupName="detail">
            <input
              type="text"
              formControlName="weight"
              class="form-control-sm">
          </td>
          <td formGroupName="detail">
            <input
              type="text"
              formControlName="height"
              class="form-control-sm">
          </td>
          <td formGroupName="detail">
            <input
              type="text"
              formControlName="width"
              class="form-control-sm">
          </td>
          <td formGroupName="detail">
            <input
              type="text"
              formControlName="depth"
              class="form-control-sm">
          </td>
          <td>
            <input
              type="text"
              formControlName="binLocation"
              class="form-control-sm">
          </td>
          <td>
            <input
              type="text"
              formControlName="monitor"
              class="form-control-sm">
          </td>

          <ng-template [ngIf]="createProductsForm.controls.products.controls.length > 1">
            <td (click)="removeProductRow(i)" class="align-middle" style="cursor: pointer;">&times;</td>
          </ng-template>

        </tr>
      </tbody>
  </table>
  <button class="btn btn-primary mr-sm-2" type="submit">Create Products</button>
  <button (click)="addNewProductRow()" class="btn btn-success mr-sm-2" type="button">Add Row</button>
  <br><br>
</form>
