<div class="row">
  <div class="col-sm-3">
    <div class="col-sm-12">
      <h3>Settings</h3>
      <hr>
      <ul class="list-group">
        <li class="list-group-item">
          <a routerLink="/user/profile" class="nav-link">Profile</a>
        </li>
        <li class="list-group-item">
          <a routerLink="/user/ebay" class="nav-link">Ebay</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-sm-9">
    <div class="col-sm-12">
        <h3>Details</h3>
        <hr>
        <router-outlet></router-outlet>
    </div>
  </div>
</div>
