<h2>Welcome To Your Dashboard</h2>
<hr>
<div class="row">
  <div class="col-sm-4">
    <a routerLink="/toolbox/inventory"><div class="card text-white bg-dark">
      <div class="card-header bg-primary">Inventory</div>
      <div class="card-body">
        <p class="card-text">Update, delete and create all your inventory in one place.</p>
      </div>
    </div></a>
  </div>
  <div class="col-sm-4">
    <a routerLink="/toolbox/createProducts"><div class="card text-white bg-dark">
      <div class="card-header bg-primary">Create Products</div>
      <div class="card-body">
        <p class="card-text">Get started and head straight to creating products for your inventory.</p>
      </div>
    </div></a>
  </div>
  <div class="col-sm-4">
    <a routerLink="/toolbox/toDo"><div class="card text-white bg-dark">
      <div class="card-header bg-primary">To Do's</div>
      <div class="card-body">
        <p class="card-text">Manage your daily, monthly and yearly tasks to keep you on track for success.</p>
      </div>
    </div></a>
  </div>
</div>

<!-- <div class="row">
  <div class="col-sm-12">
    <ul class="list-group">
    <li class="list-group-item"><a routerLink="/ebay/ebayTestCall">Test Call</a></li>
    <li class="list-group-item"><a routerLink="/ebay/ebayProducts">Products</a></li>
    </ul>
  </div>
</div> -->
