<span class="breadcrumb">Sidebar</span>
<ul class="list-group">
  <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="list-group-item">
    <a routerLink="/toolbox/dashboard" class="nav-link">Dashboard</a>
  </li>
  <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="list-group-item">
    <a routerLink="/toolbox/inventory" class="nav-link">Inventory</a>
  </li>
  <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="list-group-item">
    <a routerLink="/toolbox/orders" class="nav-link">Orders</a>
  </li>
  <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="list-group-item">
    <a routerLink="/toolbox/toDo" class="nav-link">To Do's</a>
  </li>
  <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="list-group-item">
    <a routerLink="/toolbox/analytics" class="nav-link">Analytics</a>
  </li>
</ul>
