<h2>Orders</h2>
<hr>
<!-- Search Form -->
<form class="form-inline" (ngSubmit)="onSearchOrders(s)" #s="ngForm">
    <input 
      class="form-control mr-sm-2"
      type="text"
      name="search"
      ngModel
      placeholder="Search">
    <button class="btn btn-secondary" type="submit">Search</button>
</form>
<hr>

<div class="form-inline">
  <button type="button" class="btn btn-outline-warning mr-sm-2" routerLink="/toolbox/createProducts">Create</button>
  <button type="button" class="btn btn-outline-warning mr-sm-2" (click)="onEditOrders()" *ngIf="editModeOff === true">Edit</button>
  <button type="button" class="btn btn-outline-warning mr-sm-2" (click)="onEditOrders()" *ngIf="editModeOff === false">&times;</button>
  <button type="button" class="btn btn-outline-danger mr-sm-2" (click)="onDeleteMultiOrders()" *ngIf="editModeOff === false">Delete</button>
  <select class="custom-select mr-sm-2" (change)="onSelectOrderFilter($event)">
    <option value="processing">Processing Orders</option>
    <option value="completed">Completed Orders</option>
    <option value="pending">Pending Orders</option>
    <option value="on-hold">On Hold</option>
    <option value="cancelled">Cancelled</option>
    <option value="refunded">Refunded</option>
    <option value="all">All Orders</option>
  </select>
  <button type="button" class="btn btn-outline-success mr-sm-2 float-right" (click)="onPrintOrder()">Print</button>
  <ul class="nav nav-pills">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" (click)="openDropdown()" style="cursor: pointer;">Actions</a>
      <div id="dropdownToggle" class="dropdown-menu">
        <a class="dropdown-item" style="cursor: pointer;" (click)="onUpdateWooOrders('completed')">Mark as completed</a>
        <a class="dropdown-item" style="cursor: pointer;" (click)="onUpdateWooOrders('processing')">Mark as Processing</a>
        <a class="dropdown-item" style="cursor: pointer;" (click)="onUpdateWooOrders('pending')">Mark as Pending</a>
        <a class="dropdown-item" style="cursor: pointer;" (click)="onUpdateWooOrders('cancelled')">Mark as Cancelled</a>
        <a class="dropdown-item" style="cursor: pointer;" (click)="onUpdateWooOrders('on-hold')">Hold order</a>
      </div>
    </li>
  </ul>
</div>

<hr>
<!-- Orders Form -->
<div id="scrollStyle" class="horizontal-scroll">
  <table class="table table-hover cell-border">
    <thead>
      <tr class="table-success">
        <th scope="col"></th>
        <th scope="col">Order #</th>
        <th scope="col">SKU</th>
        <th scope="col">Item</th>
        <th scope="col">Quantity</th>
        <th scope="col">Total</th>
        <th scope="col">Date</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody *ngFor="let wooOrder of wooOrders; let i = index;">
      <tr class="cell-border" (click)="onSelectItem(i)">
        <td class="align-middle">{{i + 1}}</td>

        <!-- View Mode -->
        <td class="align-middle">
          <span class="h5">{{ wooOrder?.number }}</span>
        </td>
        <td class="align-middle">
          <li class="p" *ngFor="let item of wooOrder.line_items" style="list-style: none">{{ item?.sku }}</li>
        </td>
        <td class="align-middle">
          <li class="p" *ngFor="let item of wooOrder.line_items" style="list-style: none">{{ item?.name }}</li>
        </td>
        <td class="align-middle">
          <li class="h5" *ngFor="let item of wooOrder.line_items" style="list-style: none">{{ item?.quantity }}</li>
        </td>
        <td class="align-middle">
          <span class="p">{{ wooOrder?.total }}</span>
        </td>
        <td class="align-middle">
          <span class="p">{{ wooOrder?.date_created | date }}</span>
        </td>

        <ng-template [ngIf]="editModeOff === false">
          <td (click)="onDeleteSingleItems(i)" class="align-middle" style="cursor: pointer;">&times;</td>
        </ng-template>
        <ng-template [ngIf]="editModeOff === true">
          <td></td>
        </ng-template>

      </tr>
    </tbody>
  </table>
</div>
