<!-- ebay.products.componenets.html wraps this section with col-sm-9 & 12 -->
<h5>Active Items</h5>
<form class="form-inline" (ngSubmit)="onSearch(s)" #s="ngForm">
    <input 
      class="form-control mr-sm-2" 
      type="text"
      name="search"
      ngModel
      placeholder="Search"
    >
    <button class="btn btn-secondary" type="submit">Search</button>
</form>
<hr>
<button type="button" class="btn btn-outline-success mr-sm-2" routerLink="/ebay/ebayProducts/createProduct">Create</button> <!-- Create button redirects to a create item page -->
<button type="button" class="btn btn-outline-warning mr-sm-2" (click)="onEdit()">Edit</button>
<button type="button" class="btn btn-outline-danger mr-sm-2" (click)="onDelete()">Delete</button>

<!-- Begin Active Item List -->
<!-- As of 06/11/18 eBay API is very buggy and their get all items(getInvenotryItems) api gives us an empty response. So the work around will be to 
  create a program that saves each item sku made through this application and it loops through it retreiving each item one by one -->
<br><br>
<div *ngIf="offers">
  <table class="table table-hover">
    <thead>
      <tr class="table-warning">
        <th scope="col">Image</th>
        <th scope="col">Title</th>
      </tr>
    </thead>
    <tbody>
      <tr class="cell-border">
        <th scope="row"><img src="{{ offers.product.imageUrls }}" alt="placeholder" class="img-thumbnail"></th>
        <td class="align-middle"><a routerLink="/ebay/ebayProducts"><h2 class="h4">{{ offers.product.title }}</h2></a></td>
      </tr>
    </tbody>
  </table> 
</div>
