<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a routerLink="/" class="navbar-brand"> Seller Tool Box </a>
  <button class="navbar-toggler" type="button" (click)="openDropdown()">
    <span class="navbar-toggler-icon">
    </span>
  </button>
  <div id="navbarColor02" class="collapse navbar-collapse">
    <ul class="nav navbar-nav mr-auto">

      <ng-template [ngIf]="!authService.isAuthenticated()">
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="nav-item"><a routerLink="/" class="nav-link">Home</a></li>
      </ng-template>

      <li routerLinkActive="active" 
          [routerLinkActiveOptions]="{exact:true}" 
          *ngIf="authService.isAuthenticated()" 
          class="nav-item">
            <a routerLink="/toolbox/dashboard" class="nav-link">Toolbox</a>
      <!-- <li routerLinkActive="active" 
          [routerLinkActiveOptions]="{exact:true}" 
          *ngIf="authService.isAuthenticated()" 
          class="nav-item">
            <a routerLink="/ebay" class="nav-link">eBay</a>
      </li> -->
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <ng-template [ngIf]="!authService.isAuthenticated()">
          <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="nav-item"><a routerLink="/login" class="nav-link">Login</a></li>
          <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="nav-item"><a routerLink="/register" class="nav-link">Register</a></li>
      </ng-template>
      <ng-template [ngIf]="authService.isAuthenticated()">
          <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="nav-item"><a routerLink="/user" class="nav-link">User</a></li>
          <li class="nav-item"><a (click)="onLogout()" routerLink="/" class="nav-link">Logout</a></li>
      </ng-template>
    </ul>
  </div>
  </nav>
</header>
