<h2>Welcome to the eBay Toolbox</h2>
<hr>

<!-- <div class="row">
  <div class="col-sm-12">
    <ul class="list-group">
    <li class="list-group-item"><a routerLink="/ebay/ebayTestCall">Test Call</a></li>
    <li class="list-group-item"><a routerLink="/ebay/ebayProducts">Products</a></li>
    </ul>
  </div>
</div> -->

<div class="row">
  <div class="col-sm-4">
    <a routerLink="/ebay/ebayTestCall"><div class="card text-white bg-dark">
      <div class="card-header bg-primary">Test Call</div>
      <div class="card-body">
        <p class="card-text">Testing to make sure that eBay API calls are working</p>
      </div>
    </div></a>
  </div>
  <div class="col-sm-4">
    <a routerLink="/ebay/ebayProducts"><div class="card text-white bg-dark">
      <div class="card-header bg-primary">Products</div>
      <div class="card-body">
        <p class="card-text">Manage your active listings, inventory and more in one place.</p>
      </div>
    </div></a>
  </div>
</div>
