td {
    max-width: 350px;
    overflow: auto;
    text-overflow: nowrap;
    white-space: pre;
}

td::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    height: 0px;
    background: transparent;  /* optional: just make scrollbar invisible */
}
